
<div class="main">
    <div class="topbar">
      <div class="toggle">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
      <div>
        <h1>Basreng Original</h1>
      </div>
      <div></div>
    </div>

    <!-- ======================= Cards ================== -->
    <div class="cardBox-bp">
      <% bo.forEach(bo => { %>
      <div class="card">
          <div>
            <div class="numbers"><%= bo.berat %></div>
            <div class="cardName"><%= bo.harga %></div>
            <div class="dropdown">
              <button class="dropbtn">Buy Now</button>
              <div class="dropdown-content">
                <a href="#" onclick="handlePurchase('WhatsApp', '<%= bo[0].berat %>', '<%= bo[0].harga %>')">WhatsApp</a>
                <a href="#" onclick="handlePurchase('Instagram', '<%= bo[0].berat %>', '<%= bo[0].harga %>')">Instagram</a>                
              </div>
            </div>
          </div>
      </div>
    <% }) %>
  </div>

    <div class="topbar" onclick="window.location.href='/produk'">
      <div class="toggles">
        <ion-icon name="play-back-outline"></ion-icon>
      </div>
    </div>
  </div>

  
    
 

