<% if (!kontaks) { %> 
      <div class="card">
        <div class="card-content">
            <h1 class="h1k">data tidak ada</h1>
            <a href="/kontak">Kembali</a>
        </div>
      </div>
<% } else {%>
    <div class="card">
        <div class="card-content">
          <h3><%= kontaks.tanggal %></h3>
          <p><%= kontaks.materi %></p>
          <p><%= kontaks.jenis %></p>
          <p><%= kontaks.status %></p>
          <!-- untuk tombol delete -->
          <!-- <a onclick="return confirm('yakin ?')" href="/kontak/delete/<%= kontaks.tanggal %>">hapus</a> -->
          <form action="/kontak?_method=DELETE" method="post">
            <input type="hidden" name="tanggal" value="<%= kontaks.tanggal %>">
          </form>
          <button onclick="return confirm('yakin ?')">hapus</button>
          <!-- untuk tombol ubah -->
          <a  href="/kontak/edit/<%= kontaks.tanggal %>">ubah</a>

          <a href="/kontak">Kembali</a>
        </div>
      </div>
  <% } %>