

<h2>ubah data</h2>


<!-- error yang dikirim dari app.js ketika ada yang duplikat -->
<!-- mengeceknya harus menggunakan typeof -->

<% if (typeof errors != 'undefined') { %>
  <div class="cool-div">
    <ul>
      <% errors.forEach(err => { %>
         <li><%= err.msg %></li>
      <% }) %>
    </ul>
  </div>

<% } %>

<!-- atribute name pada tag input harus sama dengan property json -->
<!-- actinya mengarah ke round baru yaitu /kontak/update -->
<form method="post" action="/kontak?_method=PUT">
  <!-- menambahkan id untuk mengubah data berdasarkan id-->
  <input type="hidden" name="_id" value="<%= kontak._id %>">
  

  <!-- memebuat input baru untuk mengirimkan nama sebagai input hidden,agar kita punya akses ke nama lamanya -->
  <input type="hidden" name="oldtanggal" value="<%= (kontak.oldtanggal) ? kontak.oldtanggal : kontak.tanggal %>">
  <div class="form-group">
    <label for="tanggal">Tanggal:</label>
    <input type="date" id="tanggal" name="tanggal" required value="<%= kontak.tanggal %>">
  </div>
  <div class="form-group">
    <label for="materi">Materi:</label>
    <input type="text" id="materi" name="materi" required value="<%= kontak.materi %>">
  </div>
  <div class="form-group">
    <label for="status">Status:</label>
    <input type="text" id="status" name="status" required value="<%= kontak.status %>">
  </div>
  <div class="form-group">
      <button type="button" onclick="window.location.href='/kontak'">Batal</button>
    <button type="submit" onclick="window.location.href=''">ubah data kontak</button>
  </div>
</form>




