

<h2>ubah data</h2>


<!-- error yang dikirim dari app.js ketika ada yang duplikat -->
<!-- mengeceknya harus menggunakan typeof -->

<% if (typeof errors != 'undefined') { %>
  <div class="cool-div">
    <ul>
      <% errors.forEach(err => { %>
         <li><%= err.msg %></li>
      <% }) %>
    </ul>
  </div>

<% } %>

<!-- atribute name pada tag input harus sama dengan property json -->
<!-- actinya mengarah ke round baru yaitu /kontak/update -->
<form method="post" action="/layanan?_method=PUT">
  <!-- menambahkan id untuk mengubah data berdasarkan id-->
  <input type="hidden" name="_id" value="<%= uang._id %>">
  

  <!-- memebuat input baru untuk mengirimkan nama sebagai input hidden,agar kita punya akses ke nama lamanya -->
  <input type="hidden" name="oldtgl" value="<%= (uang.oldtgl) ? uang.oldtgl : uang.tgl %>">
  <div class="form-group">
    <label for="tanggal">Tanggal:</label>
    <input type="date" id="tgl" name="tgl" required value="<%= uang.tgl %>">
  </div>
  <div class="form-group">
    <label for="materi">Masuk:</label>
    <input type="text" id="masuk" name="masuk" required value="<%= uang.masuk %>">
  </div>
  <div class="form-group">
    <label for="status">Keluar:</label>
    <input type="text" id="keluar" name="keluar" required value="<%= uang.keluar %>">
  </div>
  <div class="form-group">
    <label for="status">Keperluan:</label>
    <input type="text" id="keperluan" name="keperluan" required value="<%= uang.keperluan %>">
  </div>
  <div class="form-group">
      <button type="button" onclick="window.location.href='/layanan'">Batal</button>
    <button type="submit" onclick="window.location.href=''">ubah data kontak</button>
  </div>
</form>




