<table>
    <tr>
      <th>Tanggal</th>
      <th>Materi</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>

    <% kontaks.forEach((kon, i) => { i++ %>
        <tr>
            <td><%= i++ %> . <%= kon.tanggal %></td>
            <td><%= kon.materi %></td>
            <td><%= kon.status %></td>
            <td>
              <button onclick="window.location.href='/kontak/<%= kon.tanggal %>'" class="btn">Details</button>
            </td>
          </tr>
    <% }) %>
  </table>

   <!-- jika data belum diisi -->
   <% if (kontaks.length === 0) { %>
    <div class="card">
        <div class="card-content">
            <img src="/img/3090011.png" alt="" width="200">
        </div>
      </div>
<% } %>

<div class="add">
  <a href="/kontak/add">+</a>
</div>


<!-- untuk flash -->
<% if (mesage.length !== 0) { %>
  <div><%= mesage %></div>
<% } %>