<table>
    <tr>
      <th>Tanggal</th>
      <th>Masuk</th>
      <th>Keluar</th>
      <th>Keperluan</th>
      <th>Aksi</th>
    </tr>

    <% uang.forEach((uangs, i) => { i++ %>
        <tr>
            <td><%= i++ %> . <%= uangs.tgl %></td>
            <td><%= uangs.masuk %></td>
            <td><%= uangs.keluar %></td>
            <td><%= uangs.keperluan %></td>
            <td>
              <button onclick="window.location.href='/layanan/<%= uangs.tgl %>'" class="btn">Details</button>
            </td>
          </tr>
    <% }) %>
  </table>

   <!-- jika data belum diisi -->
   <% if (uang.length === 0) { %>
    <div class="card">
        <div class="card-content">
          <img src="/img/3090011.png" alt="" width="80">
        </div>
      </div>
<% } %>

<div class="add">
  <a href="/layanan/add"><img src="img/data.png" alt="" width="80"></a>
</div>


<!-- untuk flash -->
<% if (mesage.length !== 0) { %>
  <div><%= mesage %></div>
<% } %>