<% if (!uang) { %> 
      <div class="card">
        <div class="card-content">
            <h1 class="h1k">data tidak ada</h1>
            <a href="/layanan">Kembali</a>
        </div>
      </div>
<% } else {%>
    <div class="card">
        <div class="card-content">
          <h3><%= uang.tgl %></h3>
          <p><%= uang.masuk %></p>
          <p><%= uang.keluar %></p>
          <p><%= uang.keperluan %></p>
          <!-- untuk tombol delete -->
          <!-- <a onclick="return confirm('yakin ?')" href="/kontak/delete/<%= uang.tanggal %>">hapus</a> -->
          <form action="/layanan?_method=DELETE" method="post">
            <input type="hidden" name="tgl" value="<%= uang.tgl %>">
          </form>
          <button onclick="return confirm('yakin ?')">hapus</button>
          <!-- untuk tombol ubah -->
          <a  href="/layanan/edit/<%= uang.tgl %>">ubah</a>

          <a href="/layanan">Kembali</a>
        </div>
      </div>
  <% } %>